# Unwanted folders
Debug/
Release/
x64/
.vs/

# Compile & misc files
*.exe
*.aps
*.obj
*.lib
*.log
*.tlog
*.VC.db
*.cache
*.pdb
*.pch
*.sln
*.user
*.vcxproj
*.filter
revised-code.rar

# MacOS-specific
.DS_Store
